* {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
margin: 0px;
background-color: lightblue;
}

.container {
  margin-top: 20px;
}

#loadSaveHeader {
  padding-bottom: 10px;
}

#downloadLink {
  display: none;
}

#choicesFooter {
  padding-top: 10px;
}

textarea {
  resize: none !important;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Can we remove this now? */
/* .bigfriendlybutton {
  border-radius: 25px;
  display: inline-block;
  width: 300px;
  height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: bold;
  line-height: 50px;
} */

.bordered-area {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

#historyBorder {
  height: 300px;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-bottom: none;
  overflow: auto;
}

#historyList {
  margin: 0px;
}

#historyPlaceholder td {
  padding-left: 10px !important;
}

.table td, .table th {
  border: none !important;
  border-radius: 5px !important;
}

.table th {
  color: grey;
  width: 30px; /* This effectively is the minimum width */
  padding-left: 10px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.table td {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

#inputTextArea, #sendInputButton {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

@media (min-width: 576px) {
  .col-sm-2 {
    max-width: 100px !important;
  }
}
