* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    background: #fafafa;
    margin: 0px;
}

.wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
}

#content {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 20px;
}

/* LOAD/SAVE HEADER */
#loadSaveHeader {
    padding-bottom: 10px;
}

#downloadLink {
    display: none;
}
/* END LOAD/SAVE HEADER */

/* INPUT AREA */
.row {
    flex-grow: 1;
}

.row .col-sm,
.row .col-sm .form-group,
.row .col-sm .form-group .bordered-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

textarea {
    resize: none !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bordered-area {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    flex-grow: 10 !important;
}

.input-group.mb-3 {
    flex-grow: 1;
}

#historyBorder {
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-bottom: none;
    overflow: auto;
    height: -webkit-fill-available;
}

#historyList {
    margin: 0px;
}

#historyPlaceholder td {
    padding-left: 10px !important;
}

.table td,
.table th {
    border: none !important;
    border-radius: 5px !important;
}

.table th {
    color: grey;
    width: 30px; /* This effectively is the minimum width */
    padding-left: 10px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.table td {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

#inputTextArea,
#sendInputButton {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
/* END INPUT AREA */


/* FOOTER */
#choicesFooter {
    padding-top: 10px;
}
/* END FOOTER */



@media (min-width: 576px) {
    .col-sm-2 {
        max-width: 100px !important;
    }
}
/* END CONTAINER */

/* SIDEBAR */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background: #7386d5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.collapsed {
    margin-right: -250px;
}

a[data-toggle='collapse'] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-right: -250px;
    }
    #sidebar.collapsed {
        margin-right: 0;
    }
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    /* font-size: 1.1em; */
    display: block;
}
#sidebar ul li a:hover {
    color: #7386d5 !important;
    background: #fff !important;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    /* font-size: 0.9em !important; */
    padding-left: 30px !important;
    background: #6d7fcc;
}

a,
a:hover,
a:focus {
    color: inherit !important;
    text-decoration: none !important;
    transition: all 0.3s !important;
}
/* END SIDEBAR */

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}


